
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: solid black 0.1rem; 
  align-items: center;
  background-color: #353842;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);  
  z-index: 1;
}

.Contact_page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 1rem 1rem 1rem;
}

.Contact input {
  border-radius: 0.313rem;
  width: 20rem;
  font-family: "Poiret One", sans-serif;
  text-align: center;     
  font-size: 0.078rem;        
  height: 3rem;
  background-color: #474a54;
  border: solid black 0.1rem; 
}

.Contact textarea {
  border-radius: 0.313rem;
  font-family: "Poiret One", sans-serif;
  text-align: center;     
  padding: 2rem;
  font-size: 1.25rem; 
  width: 37rem;
  height: 6rem;
  background-color: #474a54;
  border: solid black 0.063rem; 
}

.Contact input::placeholder,
textarea::placeholder {
  color: #edf0f1;
  font-style: italic;                
  transform: scale(1.1,1.1);
  font-family: "Poiret One", sans-serif;
  font-size: 1.25rem;
  z-index: 1;
}

.Contact button {
  width: 8rem;
  height: 3rem;
  font-size: 1.25rem;
  border-radius: 1rem;
  border: solid black 0.063rem;
  box-shadow: 0 0 1.25rem 0.625rem rgb(50, 53, 60);
  transition: 0.2s ease;
  background-color: #474a54;
}

.opinions {
  text-align: center;
}

.Contact button:hover {
  transform: scale(1.1,1.1);
  box-shadow: 0 0 1.25rem 0.625rem rgb(71, 74, 84);
}

