@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
.Contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  border-radius: 8px;
  border: solid black 1px; 
  align-items: center;
  padding: 2rem 2rem 2rem 2rem;
  background-color: #353842;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  
  z-index: 1;
}
.Contact_page{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 1rem 1rem 1rem ;
}
.Contact input{
  border-radius: 5px;
  width: 15rem;
  font-family: "Poiret One", sans-serif;
  text-align: center;     
  font-size: 20px;        
  height: 3rem;
  background-color: #474a54;
  border: solid black 1px; 
}
.Contact textarea{
  border-radius: 5px;
  font-family: "Poiret One", sans-serif;
  text-align: center;     
  font-size: 20px; 
  width: 31rem;
  height: 6rem;
  background-color: #474a54;
  border: solid black 1px; 
}
.Contact input::placeholder,
textarea::placeholder {
  color: #edf0f1;
  font-style: italic;                /* Optional: Make placeholder text italic */
  transform: scale(1.1,1.1);
  font-family: "Poiret One", sans-serif;
  font-size: 20px;
  z-index: 1;
}
.Contact button{
  width: 8rem;
  height: 3rem;
  font-size: 20px;
  border-radius: 1rem;
  border: solid black 1px;
  box-shadow: 0  0 20px 10px rgb(50, 53, 60);
  transition: 0.2s ease;
  background-color: #474a54;
}

.Contact button:hover{
  transform: scale(1.1,1.1);
  box-shadow: 0  0 20px 10px rgb(71, 74, 84);
}
