    .icons {
    display: flex;                      
    align-items: center;                
    gap: 0.5rem;                          
  }
  
  .icons a {
    display: flex;                      
    justify-content: center;            
    align-items: center;                
    width: 2.8rem;                        
    height: 2.8rem;                       
    font-size: 2rem;                    
    color: inherit;                     
    text-decoration: none;              
    transition: transform 1s cubic-bezier(.57,.4,0,1.65);
    box-shadow: none; 
    text-shadow: none; 
  }
  
  .icons a:hover {
   /* transform: scale(1.2) rotate(360deg);              */
    transform: scale(1.2);
  }
  
  .icons svg {
    width: 100%;                        
    height: 100%;                       
  }

