 @import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.top_bar{
  display: flex;
  position: sticky;
  top: 0; 
  z-index: 1000000; 
  justify-content: space-between;
  background-color: rgba(53, 56, 66,0.5);
  backdrop-filter: blur(0.313rem);
  align-items: center; 
  align-content:space-evenly;
  flex-wrap: wrap;
  padding: 1rem 4rem 1rem 4rem;
}

.top_bar > *{
  flex: 1;
  flex-wrap: wrap;
  text-align: center;
}

.nav_links {
  list-style-type: none;
  font-size: 1.5rem;
  display:flex;
  font-size: 1.5rem;
  flex-wrap: wrap;
  gap: 0.625rem;
}

.Long_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.625rem 5rem 10rem 5rem;
}

#top_icons{
    justify-content: flex-end;
}

@media (max-width: 500px){
 .top_bar{
  display: flex;
  position: sticky;
  top: 0; 
  z-index: 1000000; 
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(53, 56, 66,0.5);
  backdrop-filter: blur(0.313rem);
  align-items: center; 
  align-content:space-evenly;
  flex-wrap: wrap;
  padding: 1rem 4rem 1rem 4rem;
}
}

@media (max-width: 370px){
.nav_links{
  display: none;
}
#top_icons{
  display: none;
}
}
