@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
.top_bar{
  display: flex;
  position: sticky;
  top: 0; 
  z-index: 1000000; 
  justify-content: space-between;
  background-color: rgba(53, 56, 66,0.5);
  backdrop-filter: blur(5px);
  align-items: center; 
  align-content:space-evenly;
  flex-wrap: wrap;
  padding: 1rem 4rem 1rem 4rem;
}

.top_bar > *{
  /* border: solid black 1px; */
  flex: 1;
  flex-wrap: wrap;
  text-align: center;

}

.nav_links ul{
  list-style-type: none;
  font-size: 24px;
  display:flex;
  flex-wrap: wrap;
  gap: 10px;

}

.Long_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: solid #101115; */
  align-items: center;
  padding: 10px 5rem 10rem 5rem;
}

#top_icons{
    justify-content: flex-end;
}
@media (max-width: 500px){
 .top_bar{
  display: flex;
  position: sticky;
  top: 0; 
  z-index: 1000000; 
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(53, 56, 66,0.5);
  backdrop-filter: blur(5px);
  align-items: center; 
  align-content:space-evenly;
  flex-wrap: wrap;
  padding: 1rem 4rem 1rem 4rem;
}

 
}

